body {
  color: blue;
  background-color: black;
  padding: 10px;
}

.btn-primary {
  background-color: gray;
  color: black;
  margin: 10px 5px;
  display: inline-block;
  padding: 10px 10px;
  width: 50%;
}
.pokemon-list {
  list-style-type: none;
}
